.create-post {
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
}

.create-post h2,
.create-post__caption label {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.create-post__image-frame {
  width: 100vw;
  max-height: 50vh;
  overflow: scroll;
}

.create-post__image-frame img {
  display: block;
  margin: 0;
  width: 100vw;
}

/*remove default "choose image" input text*/
.create-post__image {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 8px;
}

.create-post__image input[type="file"] {
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.create-post__caption textarea {
  all: unset;
  width: 90vw;
  height: 14vh;
  color: var(--grey);
  border-top: 0.5px solid var(--black-transparent);
  border-bottom: 0.5px solid var(--black-transparent);
}

.create-post button {
  background-image: var(--icon-color);
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: bolder;
}
