.create-post {
  height: 100vh;
  background-color: var(--white);
}

.create-post h2 {
  text-transform: capitalize;
}

.create-post__image-frame {
  width: 100vw;
  height: 35vh;
  background-color: var(--black-transparent);
}

/*remove default "choose image" input text*/
.create-post__image {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.create-post__image input[type="file"] {
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.create-post__caption textarea {
  all: unset;
  width: 90vw;
  height: 20vh;
  color: var(--grey);
  border-top: 0.5px solid var(--black-transparent);
  border-bottom: 0.5px solid var(--black-transparent);
}

.create-post button {
  background-image: var(--icon-color);
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: bolder;
}
