.create-post {
  height: 100%;
}

.create-post__image-frame {
  width: 100vw;
  height: 35vh;
  background-color: var(--black-transparent);
}

.create-post__caption {
  display: flex;
  flex-direction: column;
}

.create-post__caption textarea {
  width: 90%;
  height: 20vh;
  border: 1px solid var(--black-transparent);
  border-radius: 5px;
}

/*https://benmarshall.me/styling-file-inputs/*/
/* [type="file"] {
  border: 0;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  background-color: #000;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 4rem;
  line-height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: background-color 0.3s;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
  background-color: #f15d22;
}

[type="file"]:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
} */
