.edit-profile {
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
}

/*remove default "choose image" input text*/
.profile__image-edit {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.profile__image-edit input[type="file"] {
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.profile__image-edit button {
  padding: 4px;
  width: 90px;
}

.personal__avatar {
  margin-bottom: 20px;
}

form.personal__text {
  width: 100%;
}

form.personal__text label {
  display: inline-block;
  width: 22vw;
}

form.personal__text input {
  all: unset;
  width: 68vw;
  color: var(--grey);
}

form.personal__text textarea {
  all: unset;
  width: 68vw;
  height: 20vh;
  color: var(--grey);
}

form.personal__text button {
  background-image: var(--icon-color);
  border-radius: 20px;
  color: var(--white);
  border: none;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: bolder;
}

.personal__biography {
  display: flex;
  border-bottom: 0.6px solid var(--black-transparent);
  margin-bottom: 20px;
}

.w50 {
  display: flex;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .edit-profile {
    width: 55vw;
  }

  .w50 {
    width: 50%;
  }

  form.personal__text label {
    width: 30%;
  }

  form.personal__text input {
    width: 70%;
    color: var(--grey);
  }

  form.personal__text textarea {
    width: 70%;
    height: 20vh;
  }
}
