footer {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.5px solid var(--black-transparent);
  background-color: var(--white);
}

footer a {
  margin: 0;
  text-align: center;
}

.icon {
  width: 20%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  footer {
    width: 60vw;
  }
}
