main {
  /*header/nav is 8vh and footer is 9vh*/
  height: 83vh;
  overflow-y: scroll;
  background-color: var(--white);
}

.content {
  width: 100vw;
  margin-bottom: 24px;
}

.w-full {
  width: 100vw;
}

.post__header,
.post__text-content {
  margin: 2%;
}

/*temporary styling*/
.post__caption {
  display: flex;
}

.post__caption .bold {
  font-weight: bold;
}

.post__image {
  height: 25vh;
  background-color: #cecece;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    align-items: center;
  }

  main {
    width: 60vw;
    border: 1px solid var(--black-transparent);
  }
}
