.log-in-page,
.sign-up-page {
    height: 100vh;
    background-image: var(--unique-color);
    justify-content: space-evenly;
}

.log-in-page h1,
.sign-up-page h1 {
    color: var(--white);
    margin: 5px 0px;
}

.form-frame {
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.06);
    width: 90vw;
}

.log-in-form__group label,
.sign-up-form__group label {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin-top: 14px;
}

.not-logged-in-input {
    all: unset;
    width: 80vw;
    border-bottom: 1px solid var(--white);
    color: white;
    padding: 10px 0;
    margin: 0px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--white-transparent);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--white-transparent);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--white-transparent);
}

.log-in-form__button,
.sign-up-form__button {
    padding: 5px 20px;
    margin: 26px 0 20px 0;
    border: 2px solid var(--white);
    border-radius: 8px;
    background-color: var(--white-transparent);
    color: var(--white);
    cursor: pointer;
}

.log-in-page__register {
    margin-top: 80px;
}

.log-in-page__register a,
.sign-up-page__login a {
    font-weight: bolder;
}

.c-white {
    color: var(--white);
}

.log-in-page__register a:visited,
.sign-up-page__login a:visited {
    color: var(--white);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {

} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .log-in-page,
    .sign-up-page {
        width: 65vw;
    }

    .form-frame {
        width: 36vw;
        padding: 30px;
    }

    .sign-up-form,
    .log-in-form {
        width: 100%;
    }

    .not-logged-in-input {
        width: 100%;
    }

    .log-in-form__group label,
    .sign-up-form__group label {
        margin-top: 20px;
    }
}
