:root {
  --unique-color: radial-gradient(circle at 50% 1%, #ff9357, 35%, #004965);
  --icon-color: linear-gradient(90deg, #ff9357, #004965);
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.3);
  --black: #000;
  --black-transparent: rgba(0, 0, 0, 0.3);
  --light-grey: #f7f7f7;
}

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-content: stretch; */
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--white-transparent);
  padding: 4px 10px;
  cursor: pointer;
}

.image {
  width: 100vw;
  height: 25vh;
  background-color: grey;
}
