.profile {
    width: 100vw;
    min-height: 83vh;
    background-color: var(--white);
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
}

.profile__intro {
    width: 100%;
    border-bottom: 0.5px solid var(--black-transparent);
}

.profile__image img {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--light-grey);
    margin: 20px;
    object-fit: cover;
    object-position: center;
}

.profile__name {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.5px;
}

.profile__stats {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.profile__bio {
    display: flex;
    justify-content: center;
    margin: 0px 30px 20px 30px;
}

.profile__edit a {
    width: 30vw;
    background-image: var(--icon-color);
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.profile__posts {
    width: 100%;
    /*makes the div stretch to cover the rest of the space available*/
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile__posts-image {
    overflow: hidden;
    margin-top: 5px;
    width: 33.33%;
    height: 130px;
    border: 0.5px solid var(--white);
}

.profile__posts-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .profile {
        width: 55vw;
    }

    .profile__image img {
        width: 16vw;
        height: 16vw;
    }

    .profile__name {
        font-size: 24px;
    }

    .profile__stats h5 {
        font-size: 18px;
    }

    .profile__edit a {
        width: 10vw;
    }

    .profile__posts-image {
        height: 260px;
    }
}
